/* ADDIND ANIMATION */

@keyframes load1 {
    0%{
      width: 0;
    }
    100%{
      width: 75%;
    }
  }
  
  @keyframes load2 {
    0%{
      width: 0;
    }
    100%{
      width: 60%;
    }
  }
  @keyframes load3 {
    0%{
      width: 0;
    }
    100%{
      width: 70%;
    }
  }
  @keyframes load4 {
    0%{
      width: 0;
    }
    100%{
      width: 70%;
    }
  }

  @keyframes load5 {
    0%{
      width: 0;
    }
    100%{
      width: 70%;
    }
  }
 



  
 