
   @import url("https://fonts.googleapis.com/css?family=Playfair+Display:700|Roboto:400");
   /* HEADER SECTION */

    .nav-link{
      color: #fff;
      font-size: 1rem;
      font-weight: 700;
      cursor: pointer;
      text-decoration: none;
   

  }

  .nav-link:hover{
      color: black;
      background-color: teal;
  }

  .navbar-brand {
      font-size: 1.25rem;
      font-weight: 800;
      color: #fff;
      cursor: pointer;
      text-decoration: none;
  }


  /* MAIN SECTION CSS */

  .main{
    background: -webkit-linear-gradient(to right, #f2fcfe, #1c92d2);
  background: linear-gradient(to right, #f2fcfe, #1c92d2);  
 


  }

  .main h3 {
    font-size: 4.2rem;
    font-weight: 700px;
  }

  .main h6 {
    font-size: 1.4rem;
    text-transform: uppercase;
    line-height: 1;
    letter-spacing: 1px;
    border-bottom: 3px solid teal;
    width: 22%;
  }

  .main .bt1{
height: 55px;
width: 138px;
background-color: teal;
color: #fff;
outline: none;
border: none;
font-weight: bold;
border-radius: 5px;
box-shadow: 2px;

  }

  .main .bt2{
    height: 55px;
    width: 138px;
    background-color: teal;
    color: #fff;
    outline: none;
    border: none;
    font-weight: bold;
    border-radius: 5px;
    box-shadow: 2px;
    margin-left: 10px;
    
      }

      /* ABOUT SECTION BOLD */

      span {
        font-weight: bold;
        font-size: 20px;
        
      }
/* FOR ALL H1 HEADER STYLING */
     h1{
font-size: 3rem;
font-weight: 900;
margin-top: 15px;
text-align: center;
      }

   .bio p{
   font-size: 20px;
 font-family:Georgia, 'Times New Roman', Times, serif
      }



      /* SKILLS SECTION */

.skills{
  padding: 2rem;
}

/* .skills .title{
  width: 70%;
  margin:1.3rem auto;
  text-align:center;
} */



.skills .item{
  padding:0.3rem 0;
  margin: 0.2rem 0;
}

.skills .item-text{
  display: flex;
  justify-content: flex-start;
  font-weight: 600;
  font-size: 1.3rem;
  position: relative;
}
  .skills .item-text span:last-child{
      position: absolute;
  }

  .skills .item-text .w-90{
      margin-left: 85%;
  }
  .skills .item-text .w-85{
      margin-left: 80%;
  }
  .skills .item-text .w-75{
      margin-left: 70%;
  }
  .skills .item-text .w-65{
      margin-left: 60%;
  }
  .skills .item-text .w-55{
    margin-left: 50%;
}
  
  .progress{
      margin: 0.8rem 0;
      border-radius: 10px;
      height: 16px;
      width: 100%;
      background-color: grey;
      overflow: hidden;
  }
  .progress-bar{
      background-color:teal;
      height: 100%;
      border-top-right-radius: 2px;
      border-bottom-right-radius: 2px;
  }
  .progress-bar.w-85{
    animation: load1 3s normal forwards;
      width: 85%;
  }
  .progress-bar.w-80{
    animation: load2 3s normal forwards;
      width: 80%;
  }
  .progress-bar.w-70{
    animation: load3 3s normal forwards;
      width: 70%;
  }
  .progress-bar.w-60{
    animation: load4 3s normal forwards;
      width: 60%;

  }
  .progress-bar.w-50{
    animation: load5 3s normal forwards;
    width: 50%;

}

/* ADDIND ANIMATION */

@keyframes load1 {
  0%{
    width: 0;
  }
  100%{
    width: 85%;
  }
}

@keyframes load2 {
  0%{
    width: 0;
  }
  100%{
    width: 80%;
  }
}
@keyframes load3 {
  0%{
    width: 0;
  }
  100%{
    width: 70%;
  }
}
@keyframes load4 {
  0%{
    width: 0;
  }
  100%{
    width: 60%;
  }
}
/* @keyframes load5 {
  0%{
    width: 0;
  }
  100%{
    width: 50%;
  }
} */




  /* PORTFOLIO SECTION */
.slider {
  margin-bottom:20px;
  position: relative;
}

.slider .owl-item.active.center .slider-card{
  transform: scale(1.15);
  opacity: 1;
  background: -webkit-linear-gradient(to right, #f2fcfe, #1c92d2);
  background: linear-gradient(to right, #f2fcfe, #1c92d2);  
 

}
.slider-card {
  background-color:#fff;
  margin:80px 20px 90px 20px ;
  border-radius: 5px;
  box-shadow: 0 15px 45px -10px rgb(172, 97, 216);
  transform: scale(0.9);
  opacity: 0.5;
  transition: all 0.3s;
}

.slider-card img{
  border-radius: 5px 5px 0px 0px ;
}

.owl-nav .owl-next {
  position: absolute;
 right: -50px;
 top: 12rem;
 
 
}

.owl-nav .owl-prev {
  position: absolute;
 left:-50px;
 top: 12rem;
}

.owl-nav .fa{
  font-size: 40px;
  color: black;
 
}





  /* CONTACT SECTION */

  .contact-bg{
      height: 40vh;
      background: -webkit-linear-gradient(to right, #f2fcfe, #1c92d2);
      background: linear-gradient(to right, #f2fcfe, #1c92d2);  
      background-repeat: no-repeat;
      background-attachment: fixed;
      text-align: center;
      color: #fff;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 20rem;
  }

  .contact-bg h1{
      font-size:2rem;
      font-weight: 400;
     

  }

  .contact-bg h2{
      font-size: 3rem;
      text-transform: uppercase;
      padding: 0.4rem 0;
      letter-spacing: 4px;
      border-bottom: 5px solid teal;
  }

  .text {
      font-weight: 300;
      opacity: 0.9;
  }

  .contact-bg .text{
      margin: 1.6rem 0;
  }

  .contact-body{
      max-width:50rem ;
      margin:0 auto;
      padding: 0 1rem;
  }

  .contact-info{
      margin: 2rem 0;
      text-align: center;
      padding: 2rem 0;
  }

  .contact-info span{
      display: block;
  }

  .contact-info div{
      margin: 0.8rem 0;
      padding: 1rem;
  }

  .contact-info span .fa{
      font-size: 2rem;
      padding-bottom: 0.9rem;
      color: teal;
  }

  /* .contact-info div span:nth-child(2){
      font-weight: 500;
      font-size: 1.1rem;
  } */
  .contact-info .text{
      padding-top: 00.4rem;
  }

  /* .contact-form{
      padding: 2rem;
      border-top: 1px solid #c7c7c7;
  } */

  .contact-form form{
      padding-bottom: 1rem;
  }

  .form-control{
      width: 100%;
      border: 1.5px solid #c7c7c7;
      border-radius: 5px;
      padding: 0.7rem;
      margin: 0.6rem 0;
      font-size: 1rem;
      outline: 0;
  }

  .form-control:focus{
      box-shadow: 0 0 6px -3px teal;
  }

  .contact-form form div{
      display: grid;
      row-gap: 0.5rem;
  }

  .send-btn{
      font-size: 1rem;
      text-transform: uppercase;
      color: #fff;
      background: teal;
      border: none;
      border-radius: 5px;
      padding: 0.7rem 1.5rem;
      cursor: pointer;
      transition: all 0.4s ease;
  }
.send-btn:hover{
    opacity: 0.8;
}

.contact-form div img{
    width: 85%;
}

.contact-form div{
    margin: 0 auto;
    text-align: center;
}




  /* FOOTER SECTION */

  .contact-footer {
    padding: 2rem 0;
     background: black;
 }
 
 .contact-footer p{
     text-align: center;
     font-size: 1.2rem;
     color: #c7c7c7;
     letter-spacing: 1px;
 }
 
 .contact-footer .fa{
     font-size: 1rem;
     color: red;
    
 
 }

 

 /* RESPONSIVE FOR TABLET AND DESKTOP */

 @media screen and(min-width:768px) {
h6 {
    border-bottom: 3px solid teal;
    width: 20px;
}
     .contact-bg span{
         width: 40%;
         margin-left: auto;
         margin-right: auto;
     }

     .contact-info span {
         display: grid;
         grid-template-columns: 1fr 1fr ;
     }
     
 }

 @media screen and(min-width:992){
    h6 {
        border-bottom: 3px solid teal;
        width: 20px;
    }

 .contact-bg .text{
     width: 50%;
 }

 .contact-form{
     align-items: center;
 }
     
 }