
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap');

body{
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

   /* HEADER SECTION */
  

     .nav-link{
        color: teal;
      font-size: 1rem;
      font-weight: 700;
      cursor: pointer;
      text-decoration: none;
  } 

   .nav-link:hover{
      background-color: teal;
  } 

.navbar-toggler{
    margin-right: 10px;
}




  /* MAIN SECTION CSS */

  .main{
    background: -webkit-linear-gradient(to right, #f2fcfe, #1c92d2);
  background: linear-gradient(to right, #f2fcfe, #1c92d2);  
 
  }

  .main h3 {
    font-size: 3rem;
    font-weight: 700px;
  }


  .main .bt1{
height: 55px;
width: 138px;
background-color: teal;
color: #fff;
font-size: 1.2rem;
border: none;
font-weight: bold;
border-radius: 5px;
box-shadow: 2px;
margin-left:10px;

  }

  .main .bt2{
    height: 55px;
    width: 138px;
    background-color: teal;
    color: #fff;
    border: none;
    font-weight: bold;
    font-size: 1.2rem;
    border-radius: 5px;
    box-shadow: 2px;
    margin-left: 10px;
    
      }

      /* ABOUT SECTION */

      span {
        font-weight: bold;
        font-size: 20px;
        
      }
/* FOR ALL H1 HEADER STYLING */

     h1{
font-size: 2rem;
font-weight: 900;
margin-top: 3rem;
text-align: center;
text-transform: uppercase;
      }

   .bio p{
   font-size: 20px;
 font-family:Georgia, 'Times New Roman', Times, serif
      }



      /* SKILLS SECTION */

.skills{
  padding: 2rem;
}


.skills .item{
  padding:0.3rem 0;
  margin: 0.2rem 0;
}

.skills .item-text{
  display: flex;
  justify-content: flex-start;
  font-weight: 600;
  font-size: 1.3rem;
  position: relative;
}
  .skills .item-text span:last-child{
      position: absolute;
  }

  /* adding margin between two span text */
  .skills .item-text .text1{
      margin-left: 75%;
  }
  .skills .item-text .text2{
      margin-left: 60%;
  }
  .skills .item-text .text3{
      margin-left: 70%;
  }
  .skills .item-text .text4{
      margin-left: 70%;
  }
  .skills .item-text .text5{
    margin-left: 70%;
}

/*  */
  
  .progress{
      margin: 0.8rem 0;
      border-radius: 10px;
      height: 16px;
      width: 100%;
      background-color: grey;
      overflow: hidden;
  }

  .progress-bar{
      background-color:teal;  
  }

/* giving width to the progress bar */
/* adding animation to load progress bar */
  .progress-bar.html{
    animation: load1 5s alternate forwards;
      width: 75%;
  }
  .progress-bar.js{
    animation: load2 5s normal forwards;
      width: 60%;
  }
  .progress-bar.react{
    animation: load3 5s normal forwards;
      width: 70%;
  }

  .progress-bar.db{
    animation: load4 5s normal forwards;
      width: 70%;
  }
  .progress-bar.pyth{
    animation: load5 5s normal forwards;
      width: 70%;

  }
  


  /* PORTFOLIO SECTION */

.slider {
  margin-bottom:20px;
  position: relative;
}


/* adding transform to scale item in the center */
.slider .owl-item.active.center .slider-card{
  transform: scale(1.20);
  opacity: 1;
 

}
.slider-card {
  background-color:teal;
  margin:80px 20px 90px 20px ;
  border-radius: 5px;
  box-shadow: 0 15px 45px -10px teal;
  transform: scale(0.9);
  opacity: 0.5;
  transition: all 0.3s;
}

.slider-card img{
  border-radius: 5px 5px 0px 0px ;
}

.owl-nav .owl-next {
  position: absolute;
 right: -50px;
 top: 12rem;
 
 
}

.owl-nav .owl-prev {
  position: absolute;
 left:-50px;
 top: 12rem;
}

.owl-nav .fa{
  font-size: 40px;
  color: black;
 
}

.pinfo
 {
   font-size: 18px;
   text-align: center;
   text-decoration: none;
   padding-left: 10rem;
   color: #fff;
   font-weight: bold;
 }


  /* CONTACT SECTION */

  .contact-bg{
      height: 40vh;
      background: -webkit-linear-gradient(to right, #f2fcfe, #1c92d2);
      background: linear-gradient(to right, #f2fcfe, #1c92d2);  
      background-repeat: no-repeat;
      text-align: center;
      color: #fff;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 12rem;
  }

  .contact-bg h1{
      font-size:2rem;
      font-weight: 400;
     

  }

  .contact-bg h2{
      font-size: 3rem;
      text-transform: uppercase;
      padding: 0rem 0;
      letter-spacing: 4px;
      /* border-bottom: 5px solid teal; */
  }

  .text {
      font-weight: 300;
      opacity: 0.9;
  }

  .contact-bg .text{
      margin: 1.6rem 0;
  }

  .contact-body{
      max-width:50rem ;
      margin:0 auto;
      padding: 0 1rem;
  }

  .contact-info{
      margin: 2rem 0;
      text-align: center;
      padding: 2rem 0;
  }

  .contact-info span{
      display: block;
  }

  .contact-info div{
      margin: 0.8rem 0;
      padding: 1rem;
  }

  .contact-info span .fa{
      font-size: 2rem;
      padding-bottom: 0.9rem;
      color: teal;
  }


  .contact-info .text{
      padding-top: 00.4rem;
  }

  

  .contact-form form{
      padding-bottom: 1rem;
      
  }

  .form-control{
      width: 100%;
      border: 1.5px solid #c7c7c7;
      border-radius: 5px;
      padding: 0.7rem;
      margin: 0.6rem 0;
      font-size: 1rem;
      outline: 0;
  }

  .form-control:focus{
      box-shadow: 0 0 6px -3px teal;
  }

  .contact-form form div{
      display: grid;
      row-gap: 0.5rem;
  }

  .send-btn{
      font-size: 1rem;
      text-transform: uppercase;
      color: #fff;
      background: teal;
      border: none;
      border-radius: 5px;
      padding: 0.7rem 1.5rem;
      cursor: pointer;
      transition: all 0.4s ease;
  }
.send-btn:hover{
    opacity: 0.8;
}

.contact-form div img{
    width: 85%;
}

.contact-form div{
    margin: 0 auto;
    text-align: center;
}




  /* FOOTER SECTION */

  .contact-footer {
    padding: 2rem 0;
     background: black;
     
 }
 
 .contact-footer p{
     text-align: center;
     font-size: 1.2rem;
     color: #c7c7c7;
     letter-spacing: 1px;
     margin-bottom: 10px;
 }
 
 .contact-footer .fa{
     font-size: 1rem;
     color: red;
    
 
 }

 /* SOCIAL LINKS  */

 .social-links{
     display: block;
    
 }

 .soc{
     text-align: center;
     font-size: 30px;
     padding: 10px ;
     margin:5px;
     border: 2px solid ;
     cursor: pointer;
     list-style: none;
     margin-top: 0px;


 }
 .fa-linkedin{
     color:#0077B5;
     font-size: 50px;
 }

 .fa-github{
     color:  #171515;
     font-size: 50px;
 }

 




 /* BACK TO TOP CSS */
 #back2Top {
    width: 40px;
    line-height: 40px;
    overflow: hidden;
    display: none;
    cursor: pointer;
    -moz-transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
    position: fixed;
    bottom: 50px;
    right: 0;
    margin-right: 10px;
    background-color: teal;;
    color: black;
    text-align: center;
    font-size: 30px;
    text-decoration: none;
}

 
